
<body>
    <div style="border : 2px solid red; height : 100px;display: flex;flex-direction: row; justify-content: space-evenly;align-items: center;">
        <% Data.forEach((item)=>{ %>
            <span><%= item %></span> 
       <% })  %>
    </div>
</body>